openapi: 3.1.0
info:
  title: Silicon Commit API
  version: 0.1.0
  description: Authenticated, organization-visible work management and Silicon-owned delegated-todo notifications for Carbon and Silicon todos and Silicon-managed projects.
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://commit.teamofsilicons.com/api/v1
security:
  - bearerAuth: []
  - oboAccess: []
    oboAppId: []
tags:
  - name: Operations
    description: Public build metadata for deployment verification.
  - name: Notifications
    description: Silicon-owned webhook destination and delegated-todo subscriptions.
  - name: Todos
    description: Personal and delegated organization-visible work.
  - name: Projects
    description: Silicon-managed project metadata and lifecycle.
  - name: Project Diary
    description: Optimistically concurrent project Markdown.
  - name: Project Work
    description: Project tasks, blockers, updates, and completion.
  - name: Attachments
    description: Provider-neutral attachment URL references stored on todos.
  - name: Testing Environments
    description: Organization-owned isolated Commit environments linked to IAM testing environments.
paths:
  /version:
    get:
      tags: [Operations]
      summary: Get service version
      operationId: getVersion
      security: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Service build metadata.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Version' }
        '400': { $ref: '#/components/responses/Error' }
        default: { $ref: '#/components/responses/Error' }
  /auth/login:
    post:
      tags: [Operations]
      summary: Exchange an IAM short-lived token for a Commit session
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slt]
              additionalProperties: false
              properties: { slt: { type: string, minLength: 1 } }
      responses:
        '200': { description: Session tokens and verified actor context., content: { application/json: { schema: { type: object } } } }
        default: { $ref: '#/components/responses/Error' }
  /auth/refresh:
    post:
      tags: [Operations]
      summary: Rotate a Commit refresh token
      operationId: refreshSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              additionalProperties: false
              properties: { refresh_token: { type: string, minLength: 1 } }
      responses:
        '200': { description: Rotated session tokens., content: { application/json: { schema: { type: object } } } }
        default: { $ref: '#/components/responses/Error' }
  /auth/logout:
    post:
      tags: [Operations]
      summary: Revoke a Commit session family
      operationId: logout
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              additionalProperties: false
              properties: { token: { type: string, minLength: 1 } }
      responses:
        '204': { description: Session family revoked. }
        default: { $ref: '#/components/responses/Error' }
  /webhook/:
    post:
      tags: [Operations]
      summary: Receive an authenticated IAM event
      operationId: receiveIamWebhook
      security: []
      requestBody:
        required: true
        content: { application/json: { schema: { type: object } } }
      responses:
        '204': { description: Event accepted or already durably recorded. }
        default: { $ref: '#/components/responses/Error' }
  /test-environments:
    get:
      tags: [Testing Environments]
      summary: List organization testing environments
      operationId: listTestEnvironments
      parameters: [{ $ref: '#/components/parameters/OrgId' }]
      responses:
        '200': { description: Environment metadata., content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/TestEnvironment' } } } } }
        default: { $ref: '#/components/responses/Error' }
    post:
      tags: [Testing Environments]
      summary: Create an isolated testing environment
      operationId: createTestEnvironment
      parameters: [{ $ref: '#/components/parameters/OrgId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, iam_test_key]
              additionalProperties: false
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                description: { type: [string, 'null'], maxLength: 20000 }
                iam_test_key: { type: string, minLength: 32, maxLength: 32, pattern: '^[A-Za-z0-9]{32}$' }
      responses:
        '200': { description: Created environment and one-time key., content: { application/json: { schema: { $ref: '#/components/schemas/CreatedTestEnvironment' } } } }
        default: { $ref: '#/components/responses/Error' }
  /test-environments/{id}/key:
    get:
      tags: [Testing Environments]
      summary: Retrieve the current environment key
      operationId: getTestEnvironmentKey
      parameters:
        - { $ref: '#/components/parameters/OrgId' }
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Current key., content: { application/json: { schema: { type: object, required: [environment_id, key], properties: { environment_id: { type: string, format: uuid }, key: { type: string, pattern: '^[A-Za-z0-9]{32}$' } } } } } }
        default: { $ref: '#/components/responses/Error' }
  /test-environments/{id}/rotate:
    post:
      tags: [Testing Environments]
      summary: Rotate an environment key
      operationId: rotateTestEnvironment
      parameters: [{ $ref: '#/components/parameters/OrgId' }, { name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: Environment with new key., content: { application/json: { schema: { $ref: '#/components/schemas/CreatedTestEnvironment' } } } }
        default: { $ref: '#/components/responses/Error' }
  /test-environments/{id}/restore:
    post:
      tags: [Testing Environments]
      summary: Restore a deleted environment during its recovery window
      operationId: restoreTestEnvironment
      parameters: [{ $ref: '#/components/parameters/OrgId' }, { name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: Restored environment with new key., content: { application/json: { schema: { $ref: '#/components/schemas/CreatedTestEnvironment' } } } }
        default: { $ref: '#/components/responses/Error' }
  /test-environments/{id}/clean:
    post:
      tags: [Testing Environments]
      summary: Remove all isolated data while retaining the environment
      operationId: cleanTestEnvironment
      parameters: [{ $ref: '#/components/parameters/OrgId' }, { name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: Cleaned environment metadata., content: { application/json: { schema: { $ref: '#/components/schemas/TestEnvironment' } } } }
        default: { $ref: '#/components/responses/Error' }
  /test-environments/{id}:
    delete:
      tags: [Testing Environments]
      summary: Soft-delete an environment for 30-day recovery
      operationId: deleteTestEnvironment
      parameters: [{ $ref: '#/components/parameters/OrgId' }, { name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: Deleted environment metadata., content: { application/json: { schema: { $ref: '#/components/schemas/TestEnvironment' } } } }
        default: { $ref: '#/components/responses/Error' }
  /notification-settings:
    get:
      tags: [Notifications]
      summary: Get the authenticated Silicon's notification settings
      operationId: getNotificationSettings
      description: Returns virtual version zero when the authenticated Silicon has never persisted settings. Carbons are forbidden.
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Complete optional webhook destination and list-wide subscription.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            ETag: { $ref: '#/components/headers/NotificationETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationSettings' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [Notifications]
      summary: Replace the authenticated Silicon's notification settings
      operationId: replaceNotificationSettings
      description: Complete optimistic-concurrency replacement. Both nullable properties must be sent explicitly.
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/NotificationIfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationSettingsUpdate' }
      responses:
        '200':
          description: Current settings after replacement or an exact stale retry.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            ETag: { $ref: '#/components/headers/NotificationETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationSettings' }
        '409': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /todos:
    get:
      tags: [Todos]
      summary: List todos
      operationId: listTodos
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - { name: view, in: query, schema: { type: string, enum: [assigned_to_me, delegated_by_me, all], default: assigned_to_me } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/TodoStatus' } }
        - { name: assigned_to, in: query, schema: { $ref: '#/components/schemas/ActorId' } }
        - { name: assigned_by, in: query, schema: { $ref: '#/components/schemas/ActorId' } }
        - { name: created_from, in: query, schema: { type: string, format: date-time } }
        - { name: created_to, in: query, schema: { type: string, format: date-time } }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Filtered todos.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TodoPage' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    post:
      tags: [Todos]
      summary: Create a todo
      operationId: createTodo
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
              application/json:
                schema: { $ref: '#/components/schemas/TodoCreate' }
      responses:
        '201':
          description: Todo created.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Todo' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /todos/{todo_id}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/TodoId'
    get:
      tags: [Todos]
      summary: Get a todo
      operationId: getTodo
      responses:
        '200':
          description: Todo.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Todo' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    patch:
      tags: [Todos]
      summary: Update a todo
      operationId: updateTodo
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              additionalProperties: false
              properties:
                title: { $ref: '#/components/schemas/TitleText' }
                description: { $ref: '#/components/schemas/NullableDescriptionText' }
                assigned_to: { $ref: '#/components/schemas/ActorId' }
                status: { $ref: '#/components/schemas/TodoStatus' }
                attachments: { type: array, maxItems: 20, uniqueItems: true, items: { $ref: '#/components/schemas/AttachmentUrl' } }
      responses:
        '200':
          description: Updated todo.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Todo' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    delete:
      tags: [Todos]
      summary: Delete a todo
      operationId: deleteTodo
      responses:
        '204':
          description: Todo deleted.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /todos/{todo_id}/notes:
    get:
      tags: [Todos]
      summary: List todo notes
      operationId: listTodoNotes
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/TodoId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Notes in reverse creation order.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotePage' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    post:
      tags: [Todos]
      summary: Add a todo note
      operationId: addTodoNote
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/TodoId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [body], additionalProperties: false, properties: { body: { $ref: '#/components/schemas/NoteText' } } } } } }
      responses:
        '201':
          description: Note created.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Note' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /todos/{todo_id}/notification-subscription:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/TodoId'
    get:
      tags: [Notifications]
      summary: Get the authenticated Silicon's todo-specific subscription
      operationId: getTodoNotificationSubscription
      description: Available only to the Silicon which assigned this active delegated todo. Returns virtual version zero when no override resource exists.
      responses:
        '200':
          description: Todo-specific override; a null subscription falls back to the current list-wide rule.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            ETag: { $ref: '#/components/headers/NotificationETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TodoNotificationSubscription' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [Notifications]
      summary: Replace the authenticated Silicon's todo-specific subscription
      operationId: replaceTodoNotificationSubscription
      description: Complete optimistic-concurrency replacement. A non-null rule exclusively overrides the list rule; null removes the active override and restores list-rule fallback.
      parameters:
        - $ref: '#/components/parameters/NotificationIfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TodoNotificationSubscriptionUpdate' }
      responses:
        '200':
          description: Current todo-specific resource after replacement or an exact stale retry.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            ETag: { $ref: '#/components/headers/NotificationETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TodoNotificationSubscription' }
        '409': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects:
    get:
      tags: [Projects]
      summary: List projects
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - { name: status, in: query, schema: { $ref: '#/components/schemas/ProjectStatus' } }
        - { name: silicon_id, in: query, schema: { $ref: '#/components/schemas/ActorId' } }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Organization-visible projects.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectPage' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    post:
      tags: [Projects]
      summary: Create a project
      operationId: createProject
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ProjectCreate' } } } }
      responses:
        '201':
          description: Project created.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects/{project_id}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      summary: Get a project
      operationId: getProject
      responses:
        '200':
          description: Project.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    patch:
      tags: [Projects]
      summary: Update a project
      operationId: updateProject
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, minProperties: 1, additionalProperties: false, properties: { name: { $ref: '#/components/schemas/ProjectNameText' }, status: { $ref: '#/components/schemas/ProjectPatchStatus' }, silicon_ids: { type: array, minItems: 1, maxItems: 100, uniqueItems: true, description: 'Complete replacement set; it must retain the project creator.', items: { $ref: '#/components/schemas/ActorId' } } } }
      responses:
        '200':
          description: Updated project.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects/{project_id}/diary:
    get:
      tags: [Project Diary]
      summary: Get the project diary
      operationId: getProjectDiary
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Markdown diary.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Diary' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [Project Diary]
      summary: Replace the project diary
      operationId: updateProjectDiary
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [markdown], additionalProperties: false, properties: { markdown: { $ref: '#/components/schemas/DiaryMarkdown' } } } } } }
      responses:
        '200':
          description: Updated diary.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Diary' }
        '409': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects/{project_id}/tasks:
    get:
      tags: [Project Work]
      summary: List project tasks
      operationId: listProjectTasks
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Tasks and nested subtasks in reverse creation order.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectTaskPage' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
    post:
      tags: [Project Work]
      summary: Create a project task
      operationId: createProjectTask
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ProjectTaskCreate' } } } }
      responses:
        '201':
          description: Task or subtask created.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectTask' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects/{project_id}/tasks/{task_id}:
    patch:
      tags: [Project Work]
      summary: Update a project task
      operationId: updateProjectTask
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody: { required: true, content: { application/json: { schema: { type: object, minProperties: 1, additionalProperties: false, properties: { title: { $ref: '#/components/schemas/TitleText' }, description: { $ref: '#/components/schemas/DescriptionText' }, status: { $ref: '#/components/schemas/TodoStatus' } } } } } }
      responses:
        '200':
          description: Updated task.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectTask' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects/{project_id}/blockers:
    post:
      tags: [Project Work]
      summary: Add a project blocker
      operationId: createBlocker
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/BlockerCreate' } } } }
      responses:
        '201':
          description: Blocker created.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectEntry' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects/{project_id}/updates:
    post:
      tags: [Project Work]
      summary: Add a project update
      operationId: createProjectUpdate
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ProjectEntryCreate' } } } }
      responses:
        '201':
          description: Update created.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectEntry' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
  /projects/{project_id}/completion:
    post:
      tags: [Project Work]
      summary: Complete a project
      operationId: completeProject
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ProjectEntryCreate' } } } }
      responses:
        '201':
          description: Completion entry created and project completed.
          headers:
            X-Request-ID: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectEntry' }
        '429': { $ref: '#/components/responses/RateLimited' }
        default: { $ref: '#/components/responses/Error' }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: IAM access token }
    oboAccess: { type: apiKey, in: header, name: X-IAM-OBO-Access-Proof, description: 'Short-lived, single-use IAM OBO Access proof.' }
    oboAppId: { type: apiKey, in: header, name: X-App-ID, description: Issuer application ID paired with the OBO proof. }
  parameters:
    OrgId: { name: X-Org-ID, in: header, required: true, description: Public organization context which must match current IAM authority., schema: { $ref: '#/components/schemas/OrganizationId' } }
    RequestId: { name: X-Request-ID, in: header, required: false, description: Optional visible-ASCII correlation identifier which is returned unchanged when valid., schema: { type: string, minLength: 1, maxLength: 128, pattern: '^[!-~]+$' } }
    TodoId: { name: todo_id, in: path, required: true, schema: { type: string, format: uuid } }
    ProjectId: { name: project_id, in: path, required: true, description: 'Project UUID or exact stable UID, bounded to 2,048 UTF-8 bytes. Bare slugs are not accepted; percent-encode a UID as exactly one path segment.', schema: { type: string, maxLength: 2048 } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, description: Opaque case-sensitive replay key containing visible ASCII only., schema: { type: string, minLength: 8, maxLength: 255, pattern: '^[!-~]+$' } }
    IfMatch: { name: If-Match, in: header, required: true, description: Strong quoted ETag containing the last observed positive diary version., schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
    NotificationIfMatch: { name: If-Match, in: header, required: true, description: 'One strong quoted canonical non-negative notification-resource version. Send "0" to create from the virtual absent resource.', schema: { type: string, pattern: '^"(?:0|[1-9][0-9]*)"$' } }
    Cursor: { name: cursor, in: query, schema: { type: string, minLength: 1, maxLength: 1024 } }
    Limit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
  responses:
    Error:
      description: Stable redacted error envelope.
      headers:
        X-Request-ID: { $ref: '#/components/headers/XRequestId' }
        Cache-Control: { $ref: '#/components/headers/CacheControl' }
        WWW-Authenticate: { $ref: '#/components/headers/WwwAuthenticate' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: A dependency or request policy temporarily rate-limited the operation.
      headers:
        X-Request-ID: { $ref: '#/components/headers/XRequestId' }
        Cache-Control: { $ref: '#/components/headers/CacheControl' }
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  headers:
    XRequestId: { description: Request correlation identifier., schema: { type: string, minLength: 1, maxLength: 128, pattern: '^[!-~]+$' } }
    CacheControl: { description: Responses are not cacheable by shared or private caches., schema: { type: string, const: no-store } }
    IdempotencyReplayed: { description: Whether this exact response was replayed from durable idempotency state., schema: { type: boolean } }
    Location: { description: Absolute canonical URL of the created resource., schema: { type: string, format: uri } }
    ETag: { description: Strong quoted diary version., schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
    NotificationETag: { description: Strong quoted canonical non-negative notification-resource version., schema: { type: string, pattern: '^"(?:0|[1-9][0-9]*)"$' } }
    RetryAfter: { description: Minimum whole seconds before retrying a rate-limited request., schema: { type: integer, minimum: 1 } }
    WwwAuthenticate: { description: Present on 401 responses to advertise bearer authentication., schema: { type: string, const: Bearer } }
  schemas:
    TitleText:
      type: string
      minLength: 1
      maxLength: 500
      pattern: '^(?=[\s\S]*\S)[^\u0000]*$'
      description: Nonblank text; surrounding whitespace counts toward the limit and is trimmed before storage. U+0000 is forbidden.
    ProjectNameText:
      type: string
      minLength: 1
      maxLength: 200
      pattern: '^(?=[\s\S]*\S)[^\u0000]*$'
      description: Nonblank project display name; surrounding whitespace counts toward the limit and is trimmed before storage. U+0000 is forbidden.
    NoteText:
      type: string
      minLength: 1
      maxLength: 20000
      pattern: '^(?=[\s\S]*\S)[^\u0000]*$'
      description: Nonblank note text; surrounding whitespace counts toward the limit and is trimmed before storage. U+0000 is forbidden.
    DescriptionText:
      type: string
      maxLength: 20000
      pattern: '^[^\u0000]*$'
      description: Formatting-preserving text. U+0000 is forbidden.
    NullableDescriptionText:
      type: [string, 'null']
      maxLength: 20000
      pattern: '^[^\u0000]*$'
      description: Formatting-preserving text or null. U+0000 is forbidden in strings.
    DiaryMarkdown:
      type: string
      pattern: '^[^\u0000]*$'
      description: Markdown limited to 100,000 Unicode words. U+0000 is forbidden.
    Version:
      type: object
      required: [service, api_version, version, commit]
      additionalProperties: false
      properties:
        service: { type: string, const: silicon-commit }
        api_version: { type: string, const: v1 }
        version: { type: string, minLength: 1 }
        commit: { type: string, minLength: 1 }
    TestEnvironment:
      type: object
      required: [environment_id, name, status, version]
      additionalProperties: false
      properties:
        environment_id: { type: string, format: uuid }
        name: { type: string, minLength: 1, maxLength: 200 }
        description: { type: [string, 'null'], maxLength: 20000 }
        status: { type: string, enum: [active, deleted] }
        version: { type: integer, minimum: 1 }
        deleted_at: { type: [string, 'null'], format: date-time }
        purge_after: { type: [string, 'null'], format: date-time }
    CreatedTestEnvironment:
      allOf:
        - $ref: '#/components/schemas/TestEnvironment'
        - type: object
          required: [key]
          properties:
            key: { type: string, minLength: 32, maxLength: 32, pattern: '^[A-Za-z0-9]{32}$' }
    ActorId:
      type: string
      minLength: 1
      maxLength: 255
      pattern: '^(?=[\s\S]*\S)[^\u0000-\u001F\u007F-\u009F]*$'
      description: Stable nonblank public IAM Carbon or Silicon identifier. Raw surrounding whitespace counts toward the limit and is trimmed; control characters are forbidden.
    OrganizationId:
      type: string
      minLength: 1
      maxLength: 255
      pattern: '^(?=[\s\S]*\S)[^\u0000-\u001F\u007F-\u009F]*$'
      description: Nonblank public IAM organization identifier. Raw surrounding whitespace counts toward the limit and is trimmed; control characters are forbidden.
    AttachmentUrl:
      type: string
      format: uri
      maxLength: 2048
      pattern: '^https://'
      description: Canonical absolute HTTPS URL from any provider; credentials, fragments, surrounding whitespace, control characters, and non-default ports are forbidden. Query strings are allowed. Commit stores and returns this URL; uploading and fetching remain outside its scope.
    ActorRef:
      type: object
      required: [type, id]
      additionalProperties: false
      properties: { type: { type: string, enum: [carbon, silicon] }, id: { $ref: '#/components/schemas/ActorId' } }
    TodoStatus: { type: string, enum: [completed, canceled, in_progress, blocked, yet_to_do] }
    NotificationRule:
      description: A normalized delegated-todo event rule. `specific_statuses` matches transitions into one of the listed existing todo states.
      oneOf:
        - type: object
          required: [scope]
          additionalProperties: false
          properties:
            scope: { type: string, enum: [any_update, status_updates] }
            statuses: { type: array, maxItems: 0, uniqueItems: true, default: [], items: { $ref: '#/components/schemas/TodoStatus' } }
        - type: object
          required: [scope, statuses]
          additionalProperties: false
          properties:
            scope: { type: string, const: specific_statuses }
            statuses: { type: array, minItems: 1, maxItems: 5, uniqueItems: true, items: { $ref: '#/components/schemas/TodoStatus' } }
    WebhookUrl:
      type: string
      format: uri
      maxLength: 2048
      pattern: '^https://[^/?#@]+(/[^?#]*)?$'
      description: Canonical HTTPS webhook destination. Credentials, query, fragment, non-default port, localhost, and non-public literal addresses are forbidden.
    NotificationSettingsUpdate:
      type: object
      required: [webhook_url, todo_list_subscription]
      additionalProperties: false
      properties:
        webhook_url:
          oneOf:
            - $ref: '#/components/schemas/WebhookUrl'
            - type: 'null'
        todo_list_subscription:
          oneOf:
            - $ref: '#/components/schemas/NotificationRule'
            - type: 'null'
    NotificationSettings:
      type: object
      required: [webhook_url, todo_list_subscription, version, updated_at]
      additionalProperties: false
      properties:
        webhook_url:
          oneOf:
            - $ref: '#/components/schemas/WebhookUrl'
            - type: 'null'
        todo_list_subscription:
          oneOf:
            - $ref: '#/components/schemas/NotificationRule'
            - type: 'null'
        version: { type: integer, format: int64, minimum: 0 }
        updated_at: { type: [string, 'null'], format: date-time, description: Null only for the virtual version-zero resource. }
    TodoNotificationSubscriptionUpdate:
      type: object
      required: [subscription]
      additionalProperties: false
      properties:
        subscription:
          oneOf:
            - $ref: '#/components/schemas/NotificationRule'
            - type: 'null'
    TodoNotificationSubscription:
      type: object
      required: [todo_id, subscription, version, updated_at]
      additionalProperties: false
      properties:
        todo_id: { type: string, format: uuid }
        subscription:
          oneOf:
            - $ref: '#/components/schemas/NotificationRule'
            - type: 'null'
        version: { type: integer, format: int64, minimum: 0 }
        updated_at: { type: [string, 'null'], format: date-time, description: Null only for the virtual version-zero resource. }
    TodoCreate:
      type: object
      required: [title, assigned_to]
      additionalProperties: false
      properties:
        title: { $ref: '#/components/schemas/TitleText' }
        description: { $ref: '#/components/schemas/NullableDescriptionText' }
        assigned_to: { $ref: '#/components/schemas/ActorId' }
        status: { allOf: [{ $ref: '#/components/schemas/TodoStatus' }], default: yet_to_do }
        attachments: { type: array, maxItems: 20, uniqueItems: true, default: [], items: { $ref: '#/components/schemas/AttachmentUrl' } }
    Todo:
      type: object
      required: [id, org_id, title, description, assigned_to, assigned_by, status, attachments, created_at, updated_at]
      additionalProperties: false
      properties:
        id: { type: string, format: uuid }
        org_id: { $ref: '#/components/schemas/OrganizationId' }
        title: { $ref: '#/components/schemas/TitleText' }
        description: { $ref: '#/components/schemas/NullableDescriptionText' }
        assigned_to: { $ref: '#/components/schemas/ActorId' }
        assigned_by: { $ref: '#/components/schemas/ActorRef' }
        status: { $ref: '#/components/schemas/TodoStatus' }
        attachments: { type: array, maxItems: 20, uniqueItems: true, items: { $ref: '#/components/schemas/AttachmentUrl' } }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    TodoPage:
      type: object
      required: [items, next_cursor]
      additionalProperties: false
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Todo' } }
        next_cursor: { type: [string, 'null'], maxLength: 1024 }
    Note:
      type: object
      required: [id, body, author, created_at]
      additionalProperties: false
      properties: { id: { type: string, format: uuid }, body: { $ref: '#/components/schemas/NoteText' }, author: { $ref: '#/components/schemas/ActorRef' }, created_at: { type: string, format: date-time } }
    NotePage:
      type: object
      required: [items, next_cursor]
      additionalProperties: false
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Note' } }
        next_cursor: { type: [string, 'null'], maxLength: 1024 }
    ProjectStatus: { type: string, enum: [completed, blocked, canceled, in_progress, yet_to_start] }
    ProjectPatchStatus: { type: string, enum: [blocked, canceled, in_progress, yet_to_start] }
    ProjectCreate:
      type: object
      required: [name, silicon_ids]
      additionalProperties: false
      properties: { name: { $ref: '#/components/schemas/ProjectNameText' }, silicon_ids: { type: array, minItems: 1, maxItems: 100, uniqueItems: true, items: { $ref: '#/components/schemas/ActorId' } } }
    Project:
      type: object
      required: [id, org_id, name, slug, uid, status, silicon_ids, created_by, created_at, updated_at]
      additionalProperties: false
      properties:
        id: { type: string, format: uuid }
        org_id: { $ref: '#/components/schemas/OrganizationId' }
        name: { $ref: '#/components/schemas/ProjectNameText' }
        slug: { type: string, minLength: 1, maxLength: 200, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        uid: { type: string, maxLength: 2048, description: 'Stable opaque creation slug, creator ID, and millisecond timestamp tuple; bounded to 2,048 UTF-8 bytes.' }
        status: { $ref: '#/components/schemas/ProjectStatus' }
        silicon_ids: { type: array, minItems: 1, maxItems: 100, uniqueItems: true, items: { $ref: '#/components/schemas/ActorId' } }
        created_by: { $ref: '#/components/schemas/ActorRef' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    ProjectPage:
      type: object
      required: [items, next_cursor]
      additionalProperties: false
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Project' } }
        next_cursor: { type: [string, 'null'], maxLength: 1024 }
    Diary:
      type: object
      required: [project_id, markdown, version, updated_by, updated_at]
      additionalProperties: false
      properties: { project_id: { type: string, format: uuid }, markdown: { $ref: '#/components/schemas/DiaryMarkdown' }, version: { type: integer, minimum: 1 }, updated_by: { $ref: '#/components/schemas/ActorRef' }, updated_at: { type: string, format: date-time } }
    ProjectTaskCreate:
      type: object
      required: [title]
      additionalProperties: false
      properties:
        parent_task_id: { type: [string, 'null'], format: uuid }
        title: { $ref: '#/components/schemas/TitleText' }
        description: { allOf: [{ $ref: '#/components/schemas/DescriptionText' }], default: '' }
        status: { allOf: [{ $ref: '#/components/schemas/TodoStatus' }], default: yet_to_do }
    ProjectTask:
      type: object
      required: [id, project_id, parent_task_id, title, description, status, created_by, created_at]
      additionalProperties: false
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        parent_task_id: { type: [string, 'null'], format: uuid }
        title: { $ref: '#/components/schemas/TitleText' }
        description: { $ref: '#/components/schemas/DescriptionText' }
        status: { $ref: '#/components/schemas/TodoStatus' }
        created_by: { $ref: '#/components/schemas/ActorRef' }
        created_at: { type: string, format: date-time }
    ProjectTaskPage:
      type: object
      required: [items, next_cursor]
      additionalProperties: false
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/ProjectTask' } }
        next_cursor: { type: [string, 'null'], maxLength: 1024 }
    BlockerCreate:
      type: object
      required: [title, description]
      additionalProperties: false
      properties:
        title: { $ref: '#/components/schemas/TitleText' }
        description: { $ref: '#/components/schemas/DescriptionText' }
        status: { type: string, enum: [open, resolved], default: open }
    ProjectEntryCreate:
      type: object
      required: [title, description]
      additionalProperties: false
      properties:
        title: { $ref: '#/components/schemas/TitleText' }
        description: { $ref: '#/components/schemas/DescriptionText' }
    ProjectEntry:
      type: object
      required: [id, project_id, type, title, description, created_by, created_at]
      additionalProperties: false
      properties: { id: { type: string, format: uuid }, project_id: { type: string, format: uuid }, type: { type: string, enum: [blocker, update, completion] }, title: { $ref: '#/components/schemas/TitleText' }, description: { $ref: '#/components/schemas/DescriptionText' }, status: { type: string, enum: [open, resolved] }, created_by: { $ref: '#/components/schemas/ActorRef' }, created_at: { type: string, format: date-time } }
          description: Future provider expiry no later than twelve hours when Commit receives the response.
    Error:
      type: object
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [code, message, request_id]
          additionalProperties: false
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
            details: {}
